@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
.titleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.titleSection h1{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 45px;
}
.titleSection h5{
    font-weight: 500;
    text-align: center;
}
.formSection{
background-color: rgb(237,237,237);
}
form{
    display: flex;
    flex-direction: column;
}
.inputData{
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-areas: "imageLabel imageTag imageTag"
                         "textOnTopLabel textOnTopInput textOnTopInput"
                         "textOnBottomLabel textOnBottomInput textOnBottomInput";
}
label{
    font-size: 15px;
}
input[type=text]{
    border-radius: 4px;
    height:30px;
    border: none;
    padding-left: 10px;
    width: 100%;
}
input[type=text]:focus{
    transform: scale(1.01,1.1);
    outline: none;
    border: 3px solid rgb(140, 213, 241);
}
.imageLabel{
    grid-area:imageLabel ;
    padding-bottom: 15px;
}
.imageTag{
    grid-area:imageTag ;
    padding-bottom: 15px;
}
.textOnTopLabel{
    grid-area:textOnTopLabel ;
    padding-bottom: 15px;
}
.textOnTopInput{
    grid-area:textOnTopInput ;
    padding-bottom: 15px;
}
.textOnBottomLabel{
    grid-area:textOnBottomLabel ;
    padding-bottom: 15px;
}
.textOnBottomInput{
    grid-area:textOnBottomInput ;
    padding-bottom: 15px;
}
.submitbtn{
    padding:0 25px 20px 0;    
    align-self: flex-end;

}
#submitBtn{
    border-radius: 5px;
    color:white;
    padding: 10px;
    border: none;
    font-weight: 600;
    height: 3em;
    outline: none;
    background-color: #1E90FF;
}
#submitBtn:focus{
    fill: burlywood;
    box-shadow: 0 0 3pt 2pt rgb(140, 213, 241);
}
#displayOutput{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 15% 4px 15%;
    justify-content: space-evenly;
}
#displayOutput .column{
    display: flex;
    width: 40%;
    height:350px;
    margin: 10px 0 10px 0;
    position: relative;
    justify-content: center;
}
#displayOutput .column:nth-child(even){
    height: 400px;
}
.topDiv , .BottomDiv{
    position: absolute;
    text-align: center;
    letter-spacing: -2px;
    color: white;
    background-color: transparent;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

    text-transform: uppercase;
}
.topDiv{ top:1px; }
.BottomDiv{  bottom: 1px; }
.img{
    border-radius: 5px;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.delete{
    display: none;
    position: absolute;
    justify-self:center;
    align-self: center;
    outline: none;
    border: none;
    background-size: cover;
    opacity: .6;
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 150px;
    color: white;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.column:hover .img{
    opacity: .5;
}
.column:hover  .delete{
    display: block;
}








@media (max-width:1300px){
    #displayOutput{
        margin: 40px 1% 4px 1%;
    }
    /* #displayOutput .column{
        width: 100%;
    } */
    #displayOutput .column:nth-child(even){
       height: 350px;
    }


@media (max-width:767px){
    #displayOutput{
        margin: 40px 10% 4px 10%;
    }
    #displayOutput .column{
        width: 100%;
    }
    #displayOutput .column:nth-child(even){
       height: 350px;
    }






     /* form{
        display: flex;
        flex-direction: column;
    } */
    /* .inputData{
     
        padding: 20px 20px 0 20px;
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas: "imageLabel",
                             "imageTag",
                             "textOnTopLabel",
                             "textOnTopInput"
                             "textOnBottomLabel",
                             "textOnBottomInput";
    } */
   
}